<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker by Yago Estévez</title>
    <meta name="author" content="Yago Estévez">
    <meta name="description" content="A project made for freeCodeCamp">

    <meta charset="utf-8">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-4.1.2.min.css">
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body class="text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-4"></div>
        <div class="col-12 col-md-6 col-lg-4">
          <form id="newIssue" class="form" action="/api/">
            <img src="https://d33wubrfki0l68.cloudfront.net/4ba4ee4d1ac4caf5c0c3fa44ccc8fddd5bd11222/3f5b1/img/freecodecamp-alternative.png" alt="FreeCodeCamp Logo">
            <h1 class="h3 mt-3 mb-3 font-weight-normal">Issue Tracker</h1>
            <label for="title" class="sr-only">Issue Title</label>
            <input id="title" name="issue_title" class="form-control mb-2" type="text" name="input" placeholder="Title" required autofocus>
            <label for="text" class="sr-only">Issue Text</label>
            <textarea id="text" name="issue_text" class="form-control mb-2" type="text" name="input" placeholder="Text" required></textarea>
            <label for="creation" class="sr-only">Created By</label>
            <input id="creation" name="created_by" class="form-control mb-2" type="text" name="input" placeholder="Created by" required>
            <label for="assigned" class="sr-only">Created By</label>
            <input id="assigned" name="assigned_to" class="form-control mb-2" type="text" name="input" placeholder="Assigned to">
            <label for="status-text" class="sr-only">Status Text</label>
            <input id="status-text" name="assigned_to" class="form-control mb-2" type="text" name="input" placeholder="Status Text">
            <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit Issue</button>
          </form>

          <footer>
            <p class="mt-4 mb-2 text-muted">
              by <a href="https://twitter.com/yagoestevez" target="_blank">Yago Estévez</a>
            </p>
          </footer>
        </div>
        <div class="col-12 col-md-3 col-lg-4"></div>
      </div>
      <!-- Display for the Issues -->
      <div class="container-fluid h-100 mt-5">
        <hr>
        <h3 id="displayTitle"></h3>
        <div class="row" id='displayIssues'></div>
      </div>
    </div>

    <!-- Modal dialog -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h4 w-100 text-center" id="mySmallModalLabel">...</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="modalContent">
              Reloading...
            </div>
        </div>
      </div>
    </div>
    
    <script
      src="/static/jQuery-3.3.1.min.js"></script>
    <script
      src="/static/bootstrap.min.js"></script>
    <script
      src="/static/moment.min.js"></script>
    <script
      src="/static/main.js"></script>
  </body>
</html>